#content {
	height: 250px;
	overflow-y: scroll;
}

#listchatrooms {
	height: 250px;
}

#send {
	height: 70px;
}

#chatTable {
	width: 600px;
}

.listname:hover {
	cursor: pointer;
}